<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Velora GPT</title>

<link rel="stylesheet" href="/static/css/style.css">

</head>


<body>


<div class="app">


<!-- SIDEBAR -->

<aside class="sidebar">

<div class="sidebar-header">

<h1>Velora GPT</h1>

<div class="sidebar-icons">
🔍
</div>

</div>



<div class="menu">


<button class="menu-button" id="new-chat">

<span>✎</span>

New Chat

</button>



<button class="menu-button disabled">

<span>🖼</span>

<div>

Images

<small>
Coming Soon
</small>

</div>

</button>




<button class="menu-button disabled">

<span>📚</span>

<div>

Library

<small>
Coming Soon
</small>

</div>

</button>



</div>


<div class="history">

<h3>History</h3>

<div id="history-list"></div>

</div>



<div class="user-card">

<div class="avatar">
A
</div>

<div>
Aarav
</div>

</div>


</aside>





<!-- MAIN -->


<main class="main">



<div class="welcome" id="welcome">


<div class="orb-ring"></div>

<div class="orb"></div>


<h1>Velora GPT</h1>


<p>
Hello 👋 I am Velora GPT. How can I help you?
</p>


</div>






<div id="chat-container"></div>






<div class="input-area">


<div class="input-box">


<textarea
id="message"
placeholder="Message Velora GPT..."
rows="1"></textarea>



<button id="send">
➤
</button>


</div>


</div>



</main>


</div>



<script src="/static/js/app.js"></script>


</body>

</html>